<h1>FAQ's</h1>

<h2>Below are frequently asked questions and answers. Choose from any of the following categories of questions:</h2>

<h3>Money back extra cash FAQ’s</h3>

<ol>
    <li>How long do I need to pay?</li>
    <li>How often do I pay?</li>
    <li>What happens when the policy ends?</li>
    <li>Can I take a loan on my policy?</li>
    <li>Are there optional covers?</li>
    <li>What early cancellation options are available?</li>
    <li>What premium payment modes are available?</li>
    <li>What are requirements for a death benefit claim?</li>
    <li>How do I apply?</li>
</ol>


<h3>Individual Pension Plan</h3>

<ol>
        <li>How can I make my contribution payments?</li>
        <li>Does the fund belong to me?</li>
        <li>Can I increase or decrease my contributions</li>
        <li>How are my funds invested?</li>
        <li>What happens if I stop contributing?</li>
        <li>How can I monitor my fund?</li>
        <li>At what age can I retire?</li>
        <li>How much do I get at retirement?</li>
        <li>What is an annuity / pension?</li>
        <li>What if I die before retirement?</li>
        <li>What will happen if I’m disabled?</li>
        <li>Can I withdraw my fund before retirement?</li>
    </ol>

    















<h3>Accepted Premium Payment Options For Life Insurance</h3>