<nav style=" position: fixed; z-index: 1; top: 0; width: 100%; padding: 30px; background-color: #b9c1ce;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Home</a>
      </div>
      <ul class="nav navbar-nav">
                
          <div class="quote">
              <h4><marquee><em>Change your life today.Don't gamble on the future,act now,without delay.</em></marquee></h4> 
             </div>
       

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Our Profile</a>
                <a class="dropdown-item" href="#">Our People</a>
  
                <a class="dropdown-item" href="#">Regional Offices</a>
                <a class="dropdown-item" href="#">Banking Holding</a>
                <a class="dropdown-item" href="#">Bima Assurance</a>
                <a class="dropdown-item" href="#">Corporate Governance</a>
            </div>
          </div>
          &nbsp;&nbsp;

          <div class="btn-group">
            
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Customer Center
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Application forms</a>
                  <a class="dropdown-item" href="#">FAQs</a>
    
                  <a class="dropdown-item" href="#">Accepted Premium Payment Options for Life Insurance</a>
                  <a class="dropdown-item" href="#">Medical Provider's List</a>
                  <a class="dropdown-item" href="#">Supplier Portal</a>
                  <a class="dropdown-item" href="#">Equity master policy documents</a>
                  <a class="dropdown-item" href="#">Claim forms</a>
              </div>
            </div>
            &nbsp;&nbsp;

        <li><a href="#">Sign in</a></li>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      </ul>
      
    </div>
<br><br>
    

</nav> 